<div id="feature-wrapper">
  <div class="12u">
    <div id="onecolumn-content" class="5grid-layout">
      <div class="row">
        <div class="5u">&nbsp;</div>
        <div class="3u">
          <section>
            
            <% if flash[:search_status] %>
              <div class="notice"><%= flash[:search_status] %></div><br/>
            <% end %>

            <%= form_tag({controller: "people", action: "index"}, method: "get") do %>
              <h2><%= label_tag(:address, "Enter your address") %></h2>
              <p><%= text_field_tag(:address) %>
              <%= submit_tag("Search") %></p>
            <% end %>

            <br/><br/>
            <h3>Tips:</h3>
            <ul>
              <li>Enter as written on your envelope, or...</li>
              <li>Use words for any # lower than 50, or...</li>
              <li>Leave a voicemail: (720) 340-1417, or...</li>
              <li>RSVP via email: <a href="mailto:sethgoings@gmail.com">sethgoings@gmail.com</li>
            </ul>

          </section>
        </div>
      </div>
    </div>
  </div>
</div>