<div id="page-wrapper">
  <div class="12u">
    <div id="onecolumn-content" class="5grid-layout">
      <div class="row">
        <div class="12u">
          <section class="center">
            <h2>RSVP Details</h2>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="feature-wrapper">
  <div class="12u">
    <div id="onecolumn-content" class="5grid-layout">
      <div class="row">
        <div class="5u">
          &nbsp;
        </div>
        <div class="3u">
          <section>

              <% if @person %>

              <%= form_for(@person) do |f| %>



                <!-- RSVP Info -->
                <p><%= @person.name %></p>
                <p><%= @person.address %></p>
                <p><%= @person.city %>, <%= @person.state %>, <%= @person.zip %></p></br>

                <!-- Adults -->
                <p>
                  <%
                    adult_hash=[]
                    0.upto(@person.orig_adults) { |i| adult_hash[i] = i }
                  %>

                  <%= f.select :actual_adults, adult_hash %> Adult(s)
                </p>

                <!-- Kids -->
                <%
                  if !@person.orig_kids.nil?
                    kid_hash=[]
                    0.upto(@person.orig_kids) { |i| kid_hash[i] = i }
                %>
                  <p>
                    <%= f.select :actual_kids, kid_hash %> Kid(s)
                  </p>
                <% end %>

                <!-- Attending -->
                <br/>
                <p>
                  <%= f.radio_button(:attend, "true") %>
                  <%= f.label(:attend_true, "Will attend") %><br/>
                  <%= f.radio_button(:attend, "false") %>
                  <%= f.label(:age_adult, "Unable to attend") %>
                </p><br/>

                <p>Dietary Restrictions (optional)</p>
                <p><%= f.text_area :dietary %></p>

                <p>Email address (optional):</p>
                <p><%= f.text_field :email %></p>

                <br/>
                <p><%= f.submit "Update" %></p>

              <% end %>

            <% end %>

            <% if flash[:update_status] %>
              <br/><div class="notice"><%= flash[:update_status] %></div>
            <% end %>

          </section>
        </div>
      </div>
    </div>
  </div>
</div>
