<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for RSVP-ing for Seth and Brittany's Wedding!</h1><br/>

    <p><%= @person.name %><br/>
    <%= @person.address %><br/>
    <%= @person.city %>, <%= @person.state %>, <%= @person.zip %></p><br/>

    <% if(@person.attend) %>
    <p>
        <b>Attending</b><br/>
        Adult(s): <b><%= @person.actual_adults %></b><br/>
        <% if(@person.actual_kids) %>
        Kid(s): <b><%= @person.actual_kids %></b><br/>
        <% end %>
        <% if(@person.dietary) %>
        Dietary Restrictions: <%= @person.dietary %><br/>
        <% else %>
        No dietary restrictions<br/>
        <% end %>
    </p>
    <% else %>
        <p><b>Not Attending</b></p>
    <% end %>
    <br/>
    <p>To update your RSVP further, go here: <%= @url %></p>
  </body>
</html>